* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: beige;
}
.Header {
  background-color: black;
  color: white;
  width: 100vw;
  height: 10vh;
  margin: auto;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-around;
}
.Mid {
  width: 95vw;
  height: 20vh;
  margin: auto;
  margin-top: 3vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Bottom {
  background-color: rgb(226, 224, 224);
  width: 95vw;
  height: 72vh;
  margin: auto;
  margin-top: 3vh;
  display: flex;
  justify-content: space-around;
  align-content: space-between;
  flex-wrap: wrap;
  position: relative;
}

.HeaderComponent {
  width: 15%;
  height: 50%;
}
.HeaderComponent:hover {
  font-size: large;
}
.Option {
  position: relative;
}
.Suboption {
  width: 0px;
  height: 0px;
  background-color: rgb(2, 86, 86);
  position: absolute;
  top: 40px;
  font-size: 0px;
  z-index: 2;
}

.ShowSuboption {
  width: 100%;
  height: 400%;
  font-size: medium;
}
.Category {
  position: relative;
}
.Subcategory {
  width: 0px;
  height: 0px;
  position: absolute;
  top: 40px;
  font-size: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.ShowSubcategory {
  width: 100%;
  height: 1000%;
  font-size: large;
  background-color: black;
  z-index: 2;
}

.SubcategoryItem {
  width: 100%;
  height: 14%;
}
.ShowSubcategory :hover {
  background-color: rgb(2, 86, 86);
}
.Quote {
  width: 60%;
  height: 70%;
  color: black;
}

.Author {
  background-color: red;
  width: 30%;
  height: 30%;
}
.Input {
  width: 90%;
  height: 4vh;
  background-color: rgb(2, 86, 86);
  opacity: 0.99;
  color: white;
  font-size: large;
  border-radius: 1.5vh;
}

a {
  color: white;
  text-decoration: none;
}
a:hover {
  font-size: x-large;
}

.Course {
  background-color: yellow;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-between;
  flex-wrap: wrap;
  width: 32%;
  height: 35vh;
  position: relative;
}
.Image {
  background-color: red;
  height: 70%;
  width: 100%;
}
.Title {
  background-color: rgb(19, 20, 20);
  color: white;
  height: 10%;
  width: 100%;
}
.InstructorName {
  background-color: rgb(19, 20, 20);
  color: white;
  height: 10%;
  width: 100%;
}
.Rating {
  background-color: rgb(19, 20, 20);
  color: white;
  height: 10%;
  width: 100%;
}
img {
  width: 100%;
  height: 100%;
}

.SeeMore {
  background-color: black;
  color: white;
  width: 120px;
  height: 60px;
  position: absolute;
  top: 101%;
  left: 46%;
  font-size: large;
  border-radius: 10%;
}
.SeeMore:hover {
  background-color: rgb(2, 86, 86);
  font-size: x-large;
}

.AdditionalInfo {
  background-color: rgb(2, 86, 86);
  width: 100%;
  height: 70%;
  top: 0px;
  left: 0%;
  position: absolute;
  z-index: 2;
  opacity: 0.98;
  color: aliceblue;
}

.SearchResult {
  background-color: red;
  width: 90%;
  height: auto;
  position: absolute;
  z-index: 2;
  left: 5%;
  font-size: medium;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.Search {
  position: relative;
}

.SearchResultItem {
  background-color: black;
  width: 100%;
  height: 8vh;
  align-self: center;
}
.SearchResultItem:hover {
  background-color: rgb(2, 86, 86);
}
.AdditionalSubcategory {
  background-color: black;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 2vh;
  left: 100%;
  display: flex;
  flex-direction: column;
}
.AdditionalSubcategory:hover {
  background-color: black;
}
.AdditionalSubcategoryItem {
  width: 100%;
  height: 20%;
}

.CreateInstructor {
  width: 35vw;
  height: 60vh;
  background-color: black;
  margin-top: 9vh;
  margin-left: auto;
  margin-right: auto;
  color: white;
}
.Form {
  width: 90%;
  height: 80%;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3vh;
}

.Form > input {
  width: 60%;
  height: 12%;
  font-size: xx-large;
  background-color: rgb(2, 86, 86);
  opacity: 0.99;
  color: white;
  border-radius: 1.5vh;
}

.Options {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(2, 86, 86);
  width: 40%;
  height: 10%;
}

.SubmitButton {
  width: 40%;
  height: 10%;
}
.SubmitButton > input {
  width: 100%;
  height: 100%;
  font-size: x-large;
  background-color: black;
  color: white;
  border-radius: 1.5vh;
}
.SubmitButton > input:hover {
  background-color: rgb(2, 86, 86);
  font-size: xx-large;
}
.Options > select {
  width: 100%;
  height: 100%;
  background-color: rgb(2, 86, 86);
  color: white;
  font-size: medium;
}

.CreateCourse {
  width: 35vw;
  height: 60vh;
  background-color: black;
  margin-top: 9vh;
  margin-left: auto;
  margin-right: auto;
  color: white;
}
#input3 {
  font-size: medium;
}
#input4 {
  background-color: rgb(2, 86, 86);
  color: white;
  font-size: large;
  width: 90%;
  height: 40%;
  border-radius: 1.5vh;
}
.NotShown {
  width: 0px;
  height: 0px;
  font-size: 0px;
}
